header, article, footer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header, footer {
    text-align: center;
    margin-top: 50px;
}

footer {
    font-size: 12px;
}

a {
    color: #555;
    text-decoration: none;
}

hr {
    width: 600px;
}

section {
    overflow: auto;
    margin-bottom: 20px;
}

img#profile {
    height: 100px;
    width: 100px;
}

div#name {
    font-size: 24px;
}

nav a {
    font-size: 18px;
}

section a {
    margin-top: 10px;
    display: block;
    float: left;
}

div.title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

summary {
    display: block;
    text-align: left;
}
